html, body {
    width: 100%;
    height: 100%;
  }

.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.rdoBtn{
  display: block;
  position: relative;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* menghilangkan radio button */
.rdoBtn input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  padding: 0,0,0,0;
  margin: 0,0,0,0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.rdoBtn:hover input ~ .checkmark{
  background-color: #ccc;
}

.rdoBtn input:checked ~ .checkmark {
  background-color: #41E8B3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rdoBtn input:checked ~ .checkmark:after {
  display: block;
}

.rdoBtn .checkmark:after {
  top: 5.498px;
  left: 5.48px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
}

.divider {
  border-right: 5px solid;
  height: 100%;
  padding-right: 20px;
  border-color: #41E8B3;
}